<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="org.openjfx.sio2E4.App" />
    <module name="sio2E4" />
    <option name="VM_PARAMETERS" value="--enable-native-access=javafx.graphics" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>